In [6]:
import pandas as pd

column_names = ['id', 'date', 'vendor_name', 'amount', 'currency', 'item_description', 'gl_code', 'gl_description']
df = pd.read_csv('transactions.csv', names=column_names, header=0)
df.head()

,id,date,vendor_name,amount,currency,item_description,gl_code,gl_description
0,2,2022-11-06,Harding Inc,4621.52,AUD,Answer account which exist reality share.,25202669,Travel
1,3,2024-01-22,Meyer LLC,4478.16,USD,Year important account despite alone.,44034427,Shopping
2,4,2023-07-12,"Sandoval, Gallagher and Kelley",1349.55,JPY,Find which boy try.,92539337,Travel
3,5,2024-04-23,Mooney PLC,2785.77,GBP,We author this compare small purpose.,20214377,Travel
4,6,2024-07-11,Duncan and Sons,2759.27,GBP,Wall eight crime daughter prove.,83986396,Travel